<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn2.actitudfem.com/media/files/styles/gallerie_carousel/public/images/2016/01/notacasaairbnb_0.jpg);">
  <div class="container">
    <h1>Bienvenido a  <strong>Airclone</strong> </h1>
    <p>Encontra el lugar ideal para alojarte sin pagar de mas</p>
    <%= link_to "Ver ofertas disponibles", flats_path, class:"btn btn-outline-light"%>
    <%= link_to "Inicia cesion", new_user_session_path, class: "btn btn-outline-light" %>

  </div>
</div>

