<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Bienvenido a  <strong>Airclone</strong> </h1>
    <p>encontra el lugar ideal para alojarte sin pagar de mas</p>
    <%= link_to "ver ofertas disponibles", flats_path, class:"btn btn-outline-light"%>
    <%= link_to "inicia cesion", new_user_session_path, class: "btn btn-outline-light" %>

  </div>
</div>
