.navbar-lewagon {
  justify-content: space-between;
  background: white;
  p{
    padding: 10px;
    border-bottom: solid 1px #80808082;
    text-align: center;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 10px;
}
