// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/user";
@import "pages/home";

body > .container {
  padding-top: 150px;
}
body .negative-container {
  padding-top: 0;
}
.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-md-4 {
  display: flex;
}
.flat-card {
  width: 100%;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.1);
}

.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.flat-card-content {
  padding: 15px;
  background-color: #F8F9FA;
  height: 180px;
}

.reservation-content {
  padding: 10px;
  background-color: #ffffff;
  height: 200px;
}

.reservation-container {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.flat-card-items{
background-color: #F8F9FA;
display: flex;
margin: 5px;
}

.flat-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.flat-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;
}

.flat-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}
.no-mb {
  margin-bottom: 0;
}

.flat-show-address {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}
.border-color {
  border-color: orange;
}
